*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
   font-family: sans-serif;
}

a:hover{
    text-decoration: none;
    color: black;

}

header{
    display: flex;
    height: 100px;
    background-color: #E7CEFD;
    justify-content: space-between;
    align-items: center;
    padding: 35px;

}

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    height: 85px;
    width: 40vh;

}

nav a{
    font-weight: 549;
    padding-right: 40px;
}

nav a:hover{
    background-color: rgb(192, 31, 189);
}

/*CARROSEL*/

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img{
    width: 100%;
    height: 47%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 34%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

/*FIMCARROSEL*/


.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 15px;
}
.nav-manual .manual-btn:hover{
    background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: red;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}